/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

/* 全体 */
 .base-container {
   margin: 0 auto;
   padding: 1rem;
 }

 .container-login {
   max-width: 576px;
   margin: 0 auto;
 }

 /* max-width */
 .mw-md {
   max-width: 720px;
 }

 .mw-lg {
   max-width: 960px;
 }

 .mw-xl {
   max-width: 1200px;
 }

 header {
   background-color: #5D99FF;
 }

 nav {
   width: 768px;
   margin: 0 auto;
 }

 .navbar .navbar-brand {
   color: white;
 }

 .navbar-collapse {
  justify-content: flex-end;
 }

 .navbar .navbar-nav .nav-link {
   color: white;
   font-size: 13px;
  }

 main {
   padding-top: 56px;
 }

 .alert-notice {
   @extend .alert-info;
 }

 .alert-alert {
   @extend .alert-danger;
 }

 h2 {
   text-align: center;
   padding-top: 140px;
 }

 .card {
  margin-top: 50px;
 }