.card {
    margin-top: 50px;
}

.text-card-container {
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 50px;
}

.content-card {
    height: 370px;
    max-width: 376px;
    margin: 0 auto;
}

.text-title {
    margin-top: 30px;
}

.img-fluid {
    max-width: 100%;
    width: 100%;
}