<div class="base-container mw-xl">
  <div class="texts-wrapper">
    <div class="contents-title text-center">
      <h1>テキスト教材</h1>
    </div>
    <form class="mb-3 search-form mx-auto">
      <i class="fa fa-search search-icon" title="Search"></i>
      <input type="text" id="search-text" class="form-control" placeholder="教材を探す" aria-label="Username" aria-describedby="search-form">
    </form>
    <div class="row">
      <% @texts.each do |text| %>
        <div class="col-12 col-md-6 col-lg-4 text-card-container">
          <%= link_to text_path(text) do %>
            <div class="card content-card border-dark mb-3">
              <div class="card-header p-0">
                <%= image_tag "default_image.jpg", class: "img-fluid" %>
              </div>
              <div class="card-body text-dark text-card-body">
                <div>
                  <object><a class="btn btn-secondary btn-block">読破済みにする</a></object>
                </div>
                <p class="card-text text-title">
                  <%= text.title %>
                </p>
                <p>
                  【<%= text.genre %>】
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>